<section class="about-show">

  <header class="page-header">
    <h1>About Us...</h1>
  </header>

  <div class="alert alert-info" role="alert">
    <h3>Welcome to the Jungle!</h3>
      <h4><br>The Jungle Book By Rudyard Kipling</h4>
      <p>
      <br>Now Rann, the Kite, brings home the night
      <br>That Mang, the Bat, sets free -
      <br>The herds are shut in byre and hut,
      <br>For loosed till dawn are we.
      <br>This is the hour of pride and power,
      <br>Talon and tush and claw.
      <br>Oh, hear the call! - Good hunting all
      <br>That keep the Jungle Law!
      <br>Night-Song in the Jungle.
      <br>
      </p>
      <br>
      <h3><%= link_to 'Now back to shopping...', [:root] %></h3>
  </div>
</section>
