      <p class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        There is an active <%= s.name %> sale going on!
        <strong>Everything is <%= s.percent_off %>% off until <%= s.ends_on %></strong>
      </p>
